
#nav-mobile {
    display: flex;
    z-index: 20;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;

    @media (min-width: 930px) {
        display: none;
    }

    .hamburger {
        cursor: pointer;
        display: flex;
        z-index: 19;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        padding: 0;
        &:hover {
            color: $blue;
        }
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 300px;
        background-color: #384549f8;
        transition: right 0.4s ease-in-out;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;

        .close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            color: white;
            font-size: 24px;
            cursor: pointer;
        }

        .mobile-nav {
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-top: 70px;
            width: 100%;

            li {
                margin-bottom: 20px;

                a {
                    color: white;
                    text-decoration: none;
                    font-size: 18px;
                    transition: color 0.3s;

                    &:hover {
                        color: #ddd;
                    }
                }
            }
        }
    }

    .mobile-menu.open {
        right: 0;
    }
}