.nav-bottom {
    .dropdown {
        position: relative;
    
        a {
            color: rgb(29, 149, 218)!important;
            display: block;
            text-decoration: none;
            &:hover {
                text-decoration: underline!important;
            }
        }
    
        .dropdown-content {
            display: none;
            z-index: 100;
            left: 0;
            height: max-content;
            max-width: min-content;
            background-color: #ffffff;
            padding: 8px;
            box-shadow: 4px #000000;;
    
            a {
                text-decoration: none;
                display: block;
                padding: 5px 5px;
                color: white;
                @media (min-width: 768px) {
                    font-size: 15px;
                }
                @media (min-width: 1200px) {
                    margin-right: 35px;
                }
                @media (min-width: 1450px) {
                    font-size: 18px;
                }
                @media (min-width: 1920px) {
                    font-size: 23px;
                }
                &:hover {
                    color: #008fd5;
                }
            }
        }
    
        &:hover .dropdown-content {
            display: block;
        }
    }
}

#nav-mobile {
    .hamburger {
        cursor: pointer;
        img {
            width: 30px;
            height: auto;
        }
    }

    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333;
        z-index: 200;
        padding: 20px;
        overflow-y: auto;
    }

    .close-btn {
        font-size: 24px;
        color: #ffffff;
        cursor: pointer;
        display: block;
        text-align: right;
    }

    .mobile-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        .nav-item {
            margin-bottom: 15px;
            .nav-a {
                color: rgb(29, 149, 218);
                display: block;
                text-decoration: none;
                font-size: 18px;
                
                &:hover {
                    text-decoration: underline;
                }
            }
            .dropdown-content {
                display: none;
                position: relative;
                background-color: #ffffff;
                padding: 10px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                z-index: 100;
                a {
                    color: #333;
                    padding: 8px 12px;
                    text-decoration: none;
                    display: block;

                    @media (min-width: 768px) {
                        font-size: 10px;
                    }
                    @media (min-width: 1024px) {
                        font-size: 16px;
                    }
                    @media (min-width: 1200px) {
                        margin-right: 35px;
                        margin-right: 0!important;
                    }
                    @media (min-width: 1450px) {
                        font-size: 18px;
                    }
                    @media (min-width: 1920px) {
                        font-size: 23px;
                    }
                    &:hover {
                        color: #008fd5;
                        background-color: #f1f1f1;
                    }
                }
            }
            &:hover .dropdown-content {
                display: block;
            }
        }
    }
}